#arrayDisplay {
        white-space: pre; /* El contenido dentro de arrayDisplay se muestra exactamente como está escrito */
    }
body {
        font-family: monospace; /* Espaciado idéntico para todos los carácteres */
        font-size: 1.35em; /* Aumenta el tamaño de la fuente */
}
